<launch>
  <arg name="model" default="$(find tondeuse_description)/sdf/tondeuse.urdf"/>

  <param name="/use_sim_time" type="bool" value="false"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="tondeuse_controller_odom" pkg="tondeuse_controller" type="odometry.py" />
    
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  

  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 10"/>
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 /odom /base_link "/> 
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /odom /map "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 /base_footprint /base_link "/> 
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_link" args="0 0 0 0 0 0 /base_link /camera_link"/--> 

</launch>


