<launch>

  <param name="/use_sim_time" type="bool" value="false"/>
  
  <include file="$(find tondeuse_launch)/launch/mapping.launch" />
  <arg name="rvizconfig" default="$(find tondeuse_launch)/rviz/config_file.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
   <!--include file="$(find tondeuse_gazebo)/tondeuse_gazebo.launch" /-->

</launch>